SpeciesConfig(
    move_speed: 10,
    look_ahead: 10,
    blur_radius: 1,
    strength: 0.5,
    max_weight: 765,
    color: Color(
        r: 1.0,
        g: 1.0,
        b: 1.0,
        a: 1.0,
    )
)