WindowConfig(
    title: "Physarum",
    width: 800,
    height: 800,
    background: Color(
        r: 0.0,
        g: 0.0,
        b: 0.0,
        a: 1.0,
    ),
    show_fps: true,
    fullscreen: false,
    auto_run: true,
)
