SpeciesConfig(
    sensor_size: 1.0,
    sensor_angle: 50.0,
    sensor_distance: 0.02,
    turn_speed: 2.0,
    move_speed: 0.5,
    forward_bias: 1.0,
    left_bias: 2.0,
    right_bias: 3.0,
    weight: 0.02,
    color_r: 1.0,
    color_g: 0.0,
    color_b: 1.0,
    // color: (1.0, 1.0, 1.0),
)
