SpeciesConfig(
    sensor_size: 0.0,
    sensor_angle: 0.0,
    sensor_distance: 1.0,
    turn_speed: 0.0,
    move_speed: 0.0,
    random_forward_strength: 0.0,
    random_left_strength: 0.0,
    random_right_strength: 0.0,
    weight: 0.00,
    color: (0.0, 0.0, 0.0),
)
