SpeciesConfig(
    sensor_size: 1.0,
    sensor_angle: 10.0,
    sensor_distance: 0.05,
    turn_speed: 1.0,
    move_speed: 5.0,
    random_forward_strength:1.0,
    random_left_strength: 1.0,
    random_right_strength: 1.0,
    weight: 0.01,
    color: Color(
        r: 1.0,
        g: 0.0,
        b: 1.0,
        a: 1.0,
    ),
)
