SpeciesConfig(
    sensor_size: 1.0,
    sensor_angle: 27.0,
    sensor_distance: 0.01,
    turn_speed: 4.0,
    move_speed: 0.1,
    forward_bias: 0.0,
    left_bias: 0.0,
    right_bias: 0.0,
    weight: 0.02,
    color_r: 1.0,
    color_g: 1.0,
    color_b: 1.0,
    // color: (1.0, 1.0, 1.0),
)
